
<div class="container py-5">
    <div class="row">
        <div class="col-md-2 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Error: @ViewBag.ErrorCode</p>
        </div>
        <div class="col-md-10">
            <h3>@ViewBag.ErrorTitle</h3>

            <p>@ViewBag.ErrorMessage<br />Por favor vuelva a la página anterior.</p>
            <a class="btn btn-danger" href="javascript:history.back()">Volver</a>
        </div>
    </div>
</div>

<div id="footer" class="text-center">
    Mi App 2020, BAC Credomatic. Innovation Development Team
</div>
